body {
  color: white;
  font-family: Maximum Impact;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(211, 210, 210, 0.61);
  border-radius: 10px;
}
