.main_container {
  display: flex;
  height: 100vh;
  padding: 25px;
  flex-direction: column;
  background-color: black;
}
.header {
  flex: 2;
}
.tv_show_detail {
  flex: 4;
}
.recommendation {
  flex: 2;
}
